/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* var */
.dflex{
    display: flex;
}
/* Common style */
body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
.btn-style{
    color: white;
    width: 123px;
    height: 44px;
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
    border: 0px;
    border-radius: 5px;
}
.btn-style:hover{
    cursor: pointer;
}
/* Header Style */
header{
    background-color: #2D25A0;
}
.container{
    margin-left: 150px;
    margin-right: 150px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.menu-item ul{
    display: flex;
    list-style-type: none;
    padding-left: 0px ;
}
nav ul li{
    text-decoration: none;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}
.btn-style a{
    text-decoration: none;
    color: white;
    margin-left: 8px;
}
.banner-section{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 80px;
}
.descrip h2{
    font-weight: 700;
    font-size: 54px;
    color: white;
    font-family: Poppins;
    margin-bottom: 30px;
}
.banner-btn-type{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.banner-btn-type a{
    margin-left: 0px;
    margin-right: 10px;
}
.banner-btn-type i{
    font-size: 12px;
}
.banner-image img{
    height: 438px;
    width: 556px;
}
/* Players List */
.players-list{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 27px;
}
.player{
    background-color: white;
    width: 300px;
    height: 420px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-photo img{
    width: 300px;
    height: 256px;
}
.player-info{
    margin-top: 10px;
}
.player-info h3{
    font-size: 28px;
    font-weight: 700;
    margin: 0px;
}
.player-info p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #6C6C6C;
}
/* HightLight */
.highlight{
    margin-top: 100px;
}
.highlight-banner{
    display: flex;
}
.text-area{
    padding-right: 50px;
    padding-top: 20px;
}
.text-area h2{
    font-size: 40px;
    font-weight: 700;
    color: #0A0826;
    margin-bottom: 10px;
}
.text-area p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    margin-bottom: 24px;
    text-align: justify;
}
.image-area img{
    height: 427px;
    width: 500px;
}
/* Footer style */
footer {
    text-align: center;
    width: 483.87px;
    height: 213px;
    margin: 110px 480px 0px 475px;
  }
#logo {
    width: 470px;
    height: 100px;
  }
  .social i{
      color: rgb(133, 131, 131);
      margin-right: 10px;
  }
footer p{
    font-size: 16px;
    font-weight: 400px;
    color: black;
}